/* Root Variables */
:root {
  --primary-color: #0077cc;
  --secondary-color: #66b3ff;
  --background-light: #f3eaea;
  --background-light-secondary: #fff;
  --background-dark: #5d5c5c;
  --background-dark-secondary: #2a2929;
  --font-color: #333333;
  --font-family: 'Helvetica Neue', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --border-radius: 4px;
  --max-width: 1200px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
}

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General */
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
}
